# 全てのファイルを無視
*

!.gitignore
!.gitattributes
!README.md

!/.devcontainer/
!/.devcontainer/**

!/crowdsourcing/
!/crowdsourcing/**

!/demo/
!/demo/**

/demo/bert/data/**
/demo/data/**
/demo/bert/results/**
/demo/isort.py
