# 全てのファイルを無視
*

# 特定のファイルとディレクトリを除外
!.gitignore
!.gitattributes
!README.md

!/.devcontainer/
!/.devcontainer/**

!/crowdsourcing/
!/crowdsourcing/**

!/demo/
!/demo/**

/demo/data/.env
/demo/isort.py

# 特定の拡張子のファイルを無視
*.safetensors
*.pth
